# 퇴사자 명단 변환 및 DB 업로드
- 컬럼: 사원명, ID, 부서, 사원번호, 직위, 부서코드
- DB: any_approval.out_employee

In [ ]:
# [1] 라이브러리 import & 파일 로드
import pandas as pd
import pymysql

# 파일 경로 설정
resign_path = r'퇴사자명단_부서직위추가.csv'
member_path = r'멤버목록_2025-12-24__1_.xlsx'
dept_path = r'부서목록_2025-12-24.xlsx'

# 파일 로드
resign_df = pd.read_csv(resign_path, encoding='utf-8-sig')
member_df = pd.read_excel(member_path)
dept_df = pd.read_excel(dept_path)

print(f'퇴사자 명단: {len(resign_df)}명')
print(f'멤버 목록: {len(member_df)}명')
print(f'부서 목록: {len(dept_df)}개')

In [ ]:
# [2] 매칭용 딕셔너리 생성
# 이름 -> 아이디 매핑
id_map = dict(zip(member_df['이름'], member_df['아이디']))

# 부서명 -> 부서코드 매핑
dept_map = dict(zip(dept_df['부서명'], dept_df['부서코드']))

print(f'ID 매핑 개수: {len(id_map)}')
print(f'부서코드 매핑 개수: {len(dept_map)}')

In [ ]:
# [3] 새 DataFrame 생성 및 매칭
result_df = pd.DataFrame()

result_df['사원명'] = resign_df['퇴사자명']
result_df['ID'] = resign_df['퇴사자명'].map(id_map)
result_df['부서'] = resign_df['부서']
result_df['사원번호'] = ''  # 공란
result_df['직위'] = resign_df['직위']
result_df['부서코드'] = resign_df['부서'].map(dept_map)

# NaN을 빈 문자열로 변환
result_df['ID'] = result_df['ID'].fillna('')
result_df['부서코드'] = result_df['부서코드'].fillna('')

print(f'결과 데이터: {len(result_df)}건')
result_df.head(10)

In [ ]:
# [4] 매칭 실패 건 출력
# ID 공란인 경우
id_empty = result_df[result_df['ID'] == '']
print(f'=== ID 공란: {len(id_empty)}건 ===')
if len(id_empty) > 0:
    for idx, row in id_empty.iterrows():
        print(f'  - {row["사원명"]} ({row["부서"]})')

print()

# 부서코드 공란인 경우
dept_empty = result_df[result_df['부서코드'] == '']
print(f'=== 부서코드 공란: {len(dept_empty)}건 ===')
if len(dept_empty) > 0:
    for idx, row in dept_empty.iterrows():
        print(f'  - {row["사원명"]} / {row["부서"]}')

In [ ]:
# [5] CSV 저장
output_path = r'퇴사자명단_최종.csv'
result_df.to_csv(output_path, index=False, encoding='utf-8-sig')
print(f'CSV 저장 완료: {output_path}')

In [ ]:
# [6] DB 연결 및 테이블 생성
# DB 연결 정보 설정
db_config = {
    'host': 'localhost',
    'user': 'your_username',
    'password': 'your_password',
    'database': 'any_approval',
    'charset': 'utf8mb4'
}

conn = pymysql.connect(**db_config)
cursor = conn.cursor()

# out_employee 테이블 생성
create_table_sql = '''
CREATE TABLE IF NOT EXISTS out_employee (
    id INT AUTO_INCREMENT PRIMARY KEY,
    사원명 VARCHAR(100),
    ID VARCHAR(100),
    부서 VARCHAR(100),
    사원번호 VARCHAR(50),
    직위 VARCHAR(50),
    부서코드 VARCHAR(20),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
'''

cursor.execute(create_table_sql)
conn.commit()
print('out_employee 테이블 생성 완료')

In [ ]:
# [7] 데이터 INSERT
insert_sql = '''
INSERT INTO out_employee (사원명, ID, 부서, 사원번호, 직위, 부서코드)
VALUES (%s, %s, %s, %s, %s, %s)
'''

# DataFrame을 튜플 리스트로 변환
data_list = [tuple(row) for row in result_df.values]

cursor.executemany(insert_sql, data_list)
conn.commit()

print(f'데이터 INSERT 완료: {len(data_list)}건')

In [ ]:
# [8] 확인 및 연결 종료
cursor.execute('SELECT COUNT(*) FROM out_employee')
count = cursor.fetchone()[0]
print(f'out_employee 테이블 총 데이터: {count}건')

cursor.close()
conn.close()
print('DB 연결 종료')