# 재직자 조직도 CSV 생성 및 MariaDB 업데이트
- 멤버목록에서 재직자만 추출
- 부서코드로 부서명 매핑
- CSV 저장 및 MariaDB(any_approval.in_employee) 테이블 생성

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

## 1. 엑셀 파일 로드

In [2]:
# 파일 경로 설정 (필요시 수정)
member_file = '멤버목록_2025-12-24 (1).xlsx'
dept_file = '부서목록_2025-12-24.xlsx'

# 엑셀 로드
df_member = pd.read_excel(member_file)
df_dept = pd.read_excel(dept_file)

print(f"멤버목록 전체: {len(df_member)}명")
print(f"부서목록: {len(df_dept)}개")

C:\Users\LEEJUHWAN\miniconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

멤버목록 전체: 502명
부서목록: 27개

C:\Users\LEEJUHWAN\miniconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

## 2. 부서코드 → 부서명 매핑 딕셔너리 생성

In [3]:
# 부서코드 → 부서명 매핑
dept_mapping = dict(zip(df_dept['부서코드'], df_dept['부서명']))
print(f"부서 매핑 생성 완료: {len(dept_mapping)}개")

부서 매핑 생성 완료: 26개

## 3. 재직자만 필터링 및 데이터 가공

In [4]:
# 재직자만 필터링
df_active = df_member[df_member['사용자그룹'] == '재직자'].copy()
print(f"재직자 수: {len(df_active)}명")

# 필요한 컬럼만 추출 및 이름 변경
df_result = pd.DataFrame()
df_result['사원명'] = df_active['이름']
df_result['ID'] = df_active['아이디']
df_result['사원번호'] = df_active['사번']
df_result['직위'] = df_active['직위']
df_result['부서코드'] = df_active['부서코드']

재직자 수: 167명

In [7]:
# 부서코드로 부서명 매핑 (없으면 공란 처리 + 출력)
def get_dept_name(code):
    if pd.isna(code) or code == '':
        return ''
    if code in dept_mapping:
        return dept_mapping[code]
    else:
        print(f"[주의] 부서코드 '{code}'에 해당하는 부서명을 찾을 수 없습니다. 공란 처리합니다.")
        return ''

df_result['부서'] = df_active['부서코드'].apply(get_dept_name)

# 컬럼 순서 정렬
df_result = df_result[['사원명', 'ID', '부서', '사원번호', '직위', '부서코드']]

In [8]:
# 빈 데이터 확인 및 출력
for col in df_result.columns:
    null_count = df_result[col].isna().sum() + (df_result[col] == '').sum()
    if null_count > 0:
        print(f"[알림] '{col}' 컬럼에 {null_count}개의 빈 데이터가 있습니다.")

# NaN을 공란으로 변환
df_result = df_result.fillna('')

print(f"\n최종 데이터 건수: {len(df_result)}건")
df_result.head(10)

[알림] '부서' 컬럼에 1개의 빈 데이터가 있습니다.
[알림] '사원번호' 컬럼에 40개의 빈 데이터가 있습니다.
[알림] '직위' 컬럼에 12개의 빈 데이터가 있습니다.
[알림] '부서코드' 컬럼에 1개의 빈 데이터가 있습니다.

최종 데이터 건수: 167건

           사원명        ID        부서          사원번호  직위  부서코드
0     외주계약(공통)  contract      공통계정                기타  AB90
1       patent    patent      공통계정                기타  AB90
2     베트남경제연구소   vnomics      공통계정                    AB90
3  세금계산서(Dell)  tax-dell      공통계정                    AB90
4        화상회의2   meet100      공통계정                    AB90
5        sales     sales      공통계정                기타  AB90
6          박희빈    hbpark   ETRI사업팀  201208860817  책임  DB30
7          송준선    jssong   ETRI사업팀  201303580207  상무  DB30
8          신성호    shshin    IP서비스팀  201506901005  책임  GB30
9          신우진    wjshin  NRF Part  201303840725  책임  DB11

## 4. CSV 파일로 저장

In [9]:
csv_filename = 'in_employee.csv'
df_result.to_csv(csv_filename, index=False, encoding='utf-8-sig')
print(f"CSV 저장 완료: {csv_filename}")

CSV 저장 완료: in_employee.csv

## 5. MariaDB 연결 및 테이블 생성

In [10]:
# DB 연결 정보 (필요시 수정)
DB_HOST = 'localhost'
DB_PORT = 3306
DB_USER = 'root'
DB_PASSWORD = '1234'  # 비밀번호 입력
DB_NAME = 'any_approval'

In [11]:
# MariaDB 연결
conn = pymysql.connect(
    host=DB_HOST,
    port=DB_PORT,
    user=DB_USER,
    password=DB_PASSWORD,
    database=DB_NAME,
    charset='utf8mb4'
)
cursor = conn.cursor()
print("DB 연결 성공")

DB 연결 성공

In [13]:
# 기존 테이블 삭제 후 새로 생성
drop_sql = "DROP TABLE IF EXISTS in_employee"
cursor.execute(drop_sql)

create_sql = """
CREATE TABLE in_employee (
    seq INT AUTO_INCREMENT PRIMARY KEY,
    사원명 VARCHAR(100),
    ID VARCHAR(100),
    부서 VARCHAR(200),
    사원번호 VARCHAR(50),
    직위 VARCHAR(100),
    부서코드 VARCHAR(50),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
"""
cursor.execute(create_sql)
conn.commit()
print("테이블 in_employee 생성 완료")

테이블 in_employee 생성 완료

In [14]:
# 데이터 INSERT
insert_sql = """
INSERT INTO in_employee (사원명, ID, 부서, 사원번호, 직위, 부서코드)
VALUES (%s, %s, %s, %s, %s, %s)
"""

insert_count = 0
for idx, row in df_result.iterrows():
    cursor.execute(insert_sql, (
        row['사원명'],
        row['ID'],
        row['부서'],
        row['사원번호'],
        row['직위'],
        row['부서코드']
    ))
    insert_count += 1

conn.commit()
print(f"데이터 INSERT 완료: {insert_count}건")

데이터 INSERT 완료: 167건

In [15]:
# 확인 쿼리
cursor.execute("SELECT COUNT(*) FROM in_employee")
count = cursor.fetchone()[0]
print(f"테이블 총 레코드 수: {count}건")

cursor.execute("SELECT * FROM in_employee LIMIT 5")
rows = cursor.fetchall()
for row in rows:
    print(row)

테이블 총 레코드 수: 167건
(1, '외주계약(공통)', 'contract', '공통계정', '', '기타', 'AB90', datetime.datetime(2025, 12, 24, 18, 15, 7))
(2, 'patent', 'patent', '공통계정', '', '기타', 'AB90', datetime.datetime(2025, 12, 24, 18, 15, 7))
(3, '베트남경제연구소', 'vnomics', '공통계정', '', '', 'AB90', datetime.datetime(2025, 12, 24, 18, 15, 7))
(4, '세금계산서(Dell)', 'tax-dell', '공통계정', '', '', 'AB90', datetime.datetime(2025, 12, 24, 18, 15, 7))
(5, '화상회의2', 'meet100', '공통계정', '', '', 'AB90', datetime.datetime(2025, 12, 24, 18, 15, 7))

In [16]:
# 연결 종료
cursor.close()
conn.close()
print("DB 연결 종료")

DB 연결 종료