In [7]:
import pymysql
import pandas as pd

# ===========================================
# 1. 퇴사자 명단 로드
# ===========================================
csv_path = r"C:\Users\LEEJUHWAN\Desktop\애니파이브\백업\퇴사자명단.csv"
df_resigned = pd.read_csv(csv_path, encoding='utf-8-sig')
print(f"퇴사자 수: {len(df_resigned)}")
print(df_resigned.head())

퇴사자 수: 335
             퇴사자명
0             CEO
1  PHAM NHU QUYNH
2             강대환
3             강성원
4             강원준

In [8]:
# ===========================================
# 2. DB 연결 및 퇴사자 정보 조회 (수정)
# ===========================================
conn = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password='1234',
    database='any_approval',
    charset='utf8mb4'
)

# 단순하게 approver, department, approval_date만 가져오기
query = """
SELECT approver, department, approval_date 
FROM (
    SELECT approver, department, approval_date FROM approval_data_2010 WHERE approver IS NOT NULL AND approver != ''
    UNION ALL
    SELECT approver, department, approval_date FROM approval_data_2015 WHERE approver IS NOT NULL AND approver != ''
    UNION ALL
    SELECT approver, department, approval_date FROM approval_data_2020 WHERE approver IS NOT NULL AND approver != ''
    UNION ALL
    SELECT approver, department, approval_date FROM approval_data_2025 WHERE approver IS NOT NULL AND approver != ''
) AS all_data
"""

df_db = pd.read_sql(query, conn)
conn.close()

print(f"전체 행 수: {len(df_db)}")
print(df_db.head(10))

C:\Users\LEEJUHWAN\AppData\Local\Temp\ipykernel_19036\939179254.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_db = pd.read_sql(query, conn)

전체 행 수: 80119
   approver department               approval_date
0    정주연 대리     솔루션사업팀  2010-01-08 15:08:08.000000
1       관리자     솔루션사업팀  2010-01-08 15:10:10.000000
2    정주연 대리     솔루션사업팀  2010-01-08 16:10:02.000000
3    김동력 과장     솔루션사업팀  2010-01-08 16:16:11.000000
4  CEO 대표이사       대표이사  2010-01-08 16:17:42.000000
5       관리자   (주)애니파이브  2010-01-09 12:02:40.000000
6    박정균 수석     기술연구부문  2010-01-09 12:04:55.000000
7    김동력 과장     솔루션사업팀  2010-01-15 19:43:38.000000
8  김광희 파트리더      기술지원팀  2010-01-18 10:16:57.000000
9    박정균 수석     기술연구부문  2010-01-18 13:09:11.000000

In [11]:
# ===========================================
# 3. Python에서 이름/직위 파싱
# ===========================================
def parse_approver(approver):
    """마지막 공백 기준으로 이름/직위 분리"""
    if not approver or pd.isna(approver):
        return None, None
    
    approver = approver.strip()
    if ' ' not in approver:
        return approver, None
    
    # 마지막 공백 위치 찾기
    last_space = approver.rfind(' ')
    name = approver[:last_space].strip()
    position = approver[last_space+1:].strip()
    
    return name, position

# 파싱 적용
df_db['name'] = df_db['approver'].apply(lambda x: parse_approver(x)[0])
df_db['position'] = df_db['approver'].apply(lambda x: parse_approver(x)[1])

print(df_db[['approver', 'name', 'position', 'department']].head(20))

    approver name position department
0     정주연 대리  정주연       대리     솔루션사업팀
1        관리자  관리자     None     솔루션사업팀
2     정주연 대리  정주연       대리     솔루션사업팀
3     김동력 과장  김동력       과장     솔루션사업팀
4   CEO 대표이사  CEO     대표이사       대표이사
5        관리자  관리자     None   (주)애니파이브
6     박정균 수석  박정균       수석     기술연구부문
7     김동력 과장  김동력       과장     솔루션사업팀
8   김광희 파트리더  김광희     파트리더      기술지원팀
9     박정균 수석  박정균       수석     기술연구부문
10    정주연 대리  정주연       대리     솔루션사업팀
11    김미화 대리  김미화       대리      기술지원팀
12    박정균 수석  박정균       수석     기술연구부문
13    김미화 대리  김미화       대리      기술지원팀
14    박정균 수석  박정균       수석     기술연구부문
15    정주연 대리  정주연       대리     솔루션사업팀
16    김하응 차장  김하응       차장  R&D사업111팀
17    김대화 이사  김대화       이사    솔루션사업본부
18    고화석 이사  고화석       이사    솔루션사업본부
19   박정균 부문장  박정균      부문장     기술연구부문

In [13]:
# ===========================================
# 4. 이름별 최신 정보만 남기기
# ===========================================
df_db['approval_date'] = pd.to_datetime(df_db['approval_date'],format='mixed')

# 이름별로 가장 최근 approval_date인 행만 남기기
df_db = df_db.sort_values('approval_date', ascending=False)
df_latest = df_db.drop_duplicates(subset='name', keep='first')

print(f"고유 인원 수: {len(df_latest)}")
print(df_latest[['name', 'department', 'position', 'approval_date']].head(20))

고유 인원 수: 441
      name department position       approval_date
80118  김민서      경영기획팀       선임 2025-10-31 09:24:27
80117  송준선    ETRI사업팀       팀장 2025-10-31 08:48:05
80116  김지연    ETRI사업팀       사원 2025-10-31 08:38:01
80113  최기원      경영지원팀       책임 2025-10-31 08:27:19
80112  편영수     IP솔루션팀       팀장 2025-10-31 08:13:45
80114  정철우     AI사업본부       소장 2025-10-31 08:12:22
80111  이진규     IP솔루션팀       책임 2025-10-30 22:02:40
80102  김화연       플랫폼팀       팀장 2025-10-30 16:02:57
80104  윤상호     IP솔루션팀       이사 2025-10-30 15:45:30
80107  이하늘     IP솔루션팀       선임 2025-10-30 15:34:44
80103  임민규     IP솔루션팀       책임 2025-10-30 15:02:22
80100  김상욱       플랫폼팀       책임 2025-10-30 11:57:53
80098  남정식     시스템사업팀       팀장 2025-10-30 11:45:39
80097  박상욱     시스템사업팀       책임 2025-10-30 11:28:01
80085  김광희     IP솔루션팀       책임 2025-10-30 11:02:27
80091  유수영     시스템사업팀       이사 2025-10-30 10:55:28
80069  이병선      공공사업팀       팀장 2025-10-29 14:30:48
80088  신우진      공공사업팀       책임 2025-10-29 13:52:24
80083  김별님      경영지원팀       책임 2025-10-29 10:22:59
80084  박경태     IP솔루션팀       선임 2025-10-29 09:01:15

In [14]:
# ===========================================
# 5. 퇴사자 명단과 매칭
# ===========================================
df_result = df_resigned.merge(
    df_latest[['name', 'department', 'position']],
    left_on='퇴사자명',
    right_on='name',
    how='left'
)

df_result = df_result.rename(columns={
    'department': '부서',
    'position': '직위'
})
df_result = df_result.drop(columns=['name'])

print(df_result.head(20))

              퇴사자명       부서    직위
0              CEO     대표이사  대표이사
1   PHAM NHU QUYNH   글로벌사업팀    책임
2              강대환  기술개발Gr.    사원
3              강성원   경영지원파트    차장
4              강원준   서비스사업팀    선임
5              강정례   S/W개발팀    과장
6              강현우    기술지원팀    사원
7              강혜민   글로벌사업팀    과장
8           개인고충상담   ITO사업팀    대리
9              고성철    중부사업팀    사원
10             고송령    중부사업팀    과장
11             고아라    사업지원팀    선임
12             고영현   ICT사업팀    선임
13             고원태    사업이행팀    이사
14             고지희   솔루션사업팀    선임
15             고화석      조직장    이사
16             곽유미    SW개발팀    사원
17             구겸회   글로벌사업팀    부장
18             권민선    경영지원팀    대리
19             권봉찬    전문가그룹    선임

In [15]:
# ===========================================
# 6. 매칭 현황 확인
# ===========================================
matched = df_result['부서'].notna().sum()
not_matched = df_result['부서'].isna().sum()

print(f"매칭 성공: {matched}명")
print(f"매칭 실패: {not_matched}명")

매칭 성공: 335명
매칭 실패: 0명

In [16]:
# ===========================================
# 7. 저장
# ===========================================
output_path = r"C:\Users\LEEJUHWAN\Desktop\애니파이브\백업\퇴사자명단_부서직위추가.csv"
df_result.to_csv(output_path, index=False, encoding='utf-8-sig')
print(f"저장 완료: {output_path}")

저장 완료: C:\Users\LEEJUHWAN\Desktop\애니파이브\백업\퇴사자명단_부서직위추가.csv