# 퇴사자 명단 변환 및 DB 업로드
- 컬럼: 사원명, ID, 부서, 사원번호, 직위, 부서코드
- DB: any_approval.out_employee

In [2]:
# [1] 라이브러리 import & 파일 로드
import pandas as pd
import pymysql

# 파일 경로 설정
resign_path = r'C:\Users\LEEJUHWAN\Desktop\애니파이브\백업\퇴사자명단_부서직위추가.csv'
member_path = '멤버목록_2025-12-24 (1).xlsx'
dept_path = '부서목록_2025-12-24.xlsx'

# 파일 로드
resign_df = pd.read_csv(resign_path, encoding='utf-8-sig')
member_df = pd.read_excel(member_path)
dept_df = pd.read_excel(dept_path)

print(f'퇴사자 명단: {len(resign_df)}명')
print(f'멤버 목록: {len(member_df)}명')
print(f'부서 목록: {len(dept_df)}개')

C:\Users\LEEJUHWAN\miniconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

퇴사자 명단: 331명
멤버 목록: 502명
부서 목록: 27개

C:\Users\LEEJUHWAN\miniconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
# [2] 매칭용 딕셔너리 생성
# 이름 -> 아이디 매핑
id_map = dict(zip(member_df['이름'], member_df['아이디']))

# 부서명 -> 부서코드 매핑
dept_map = dict(zip(dept_df['부서명'], dept_df['부서코드']))

print(f'ID 매핑 개수: {len(id_map)}')
print(f'부서코드 매핑 개수: {len(dept_map)}')

ID 매핑 개수: 498
부서코드 매핑 개수: 27

In [4]:
# [3] 새 DataFrame 생성 및 매칭
result_df = pd.DataFrame()

result_df['사원명'] = resign_df['퇴사자명']
result_df['ID'] = resign_df['퇴사자명'].map(id_map)
result_df['부서'] = resign_df['부서']
result_df['사원번호'] = ''  # 공란
result_df['직위'] = resign_df['직위']
result_df['부서코드'] = resign_df['부서'].map(dept_map)

# NaN을 빈 문자열로 변환
result_df['ID'] = result_df['ID'].fillna('')
result_df['부서코드'] = result_df['부서코드'].fillna('')

print(f'결과 데이터: {len(result_df)}건')
result_df.head(10)

결과 데이터: 331건

              사원명       ID       부서 사원번호    직위  부서코드
0             CEO  temp001     대표이사       대표이사  AB10
1  PHAM NHU QUYNH  temp002   글로벌사업팀         책임
2             강대환  temp003  기술개발Gr.         사원
3             강성원  temp004   경영지원파트         차장
4             강원준  temp005   서비스사업팀         선임
5             강정례  temp006   S/W개발팀         과장
6             강현우  temp007    기술지원팀         사원
7             강혜민  temp008   글로벌사업팀         과장
8          개인고충상담  temp009   ITO사업팀         대리  DB60
9             고성철  temp010    중부사업팀         사원

In [5]:
# [4] 매칭 실패 건 출력
# ID 공란인 경우
id_empty = result_df[result_df['ID'] == '']
print(f'=== ID 공란: {len(id_empty)}건 ===')
if len(id_empty) > 0:
    for idx, row in id_empty.iterrows():
        print(f'  - {row["사원명"]} ({row["부서"]})')

print()

# 부서코드 공란인 경우
dept_empty = result_df[result_df['부서코드'] == '']
print(f'=== 부서코드 공란: {len(dept_empty)}건 ===')
if len(dept_empty) > 0:
    for idx, row in dept_empty.iterrows():
        print(f'  - {row["사원명"]} / {row["부서"]}')

=== ID 공란: 0건 ===

=== 부서코드 공란: 288건 ===
  - PHAM NHU QUYNH / 글로벌사업팀
  - 강대환 / 기술개발Gr.
  - 강성원 / 경영지원파트
  - 강원준 / 서비스사업팀
  - 강정례 / S/W개발팀
  - 강현우 / 기술지원팀
  - 강혜민 / 글로벌사업팀
  - 고성철 / 중부사업팀
  - 고송령 / 중부사업팀
  - 고아라 / 사업지원팀
  - 고영현 / ICT사업팀
  - 고원태 / 사업이행팀
  - 고지희 / 솔루션사업팀
  - 고화석 / 조직장
  - 곽유미 / SW개발팀
  - 구겸회 / 글로벌사업팀
  - 권민선 / 경영지원팀
  - 권순숙 / 기술지원팀
  - 권재국 / S/W팀
  - 금종화 / 이행Part
  - 금혜진 / 대전지사
  - 김광림 / ICT서비스팀
  - 김광석 / 공공/SI사업팀
  - 김규일 / ICT사업팀
  - 김기동 / R&D팀
  - 김기두 / 영업파트
  - 김기범 / IPR사업팀
  - 김남배 / 사업지원팀
  - 김대일 / 디지털사업본부
  - 김대화 / 플랫폼사업팀
  - 김대환 / IPR사업팀
  - 김도현 / ICT 1팀
  - 김도형 / 중부사업팀
  - 김동국 / 사업지원팀
  - 김명상 / S/W개발팀
  - 김명찬 / ICT 2팀
  - 김묘경 / 서비스팀
  - 김문철 / 경영기획본부
  - 김미영 / 전략사업부문
  - 김미화 / 사업이행팀
  - 김민선 / ICT사업팀
  - 김병구 / R&D사업팀
  - 김봉민 / S/W개발팀
  - 김성권 / 전략파트너A
  - 김성연 / 기술기획팀
  - 김성은 / 경영지원실
  - 김수경 / 기술지원팀
  - 김수빈 / ICT 2팀
  - 김수철 / 기술기획팀
  - 김수현 / S/W센터
  - 김승범 / ICT사업팀
  - 김아름 / 기술지원팀
  - 김영석 / 중부사업팀
  - 김영원 / R&D개발팀
  - 김영재 / 관리팀
  - 김왕수 / IPR사업팀
  - 김우석 / 서비스센터
  - 김은미 / ICT사업팀
  - 김은영 / 중부사업팀
  - 김은진 / S/W센터
  - 김은하 / 기술지원팀
  - 김익석 / R&D개발팀
  - 김장엽 / 신사업팀
  - 김재범 / S/W개발팀
  - 김재영 / ICT사업팀
  - 김정미 / IPR사업팀
  - 김정민 / ICT사업팀
  - 김준호 / ICT 1팀
  - 김지원 / R&D개발팀
  - 김지훈 / 서비스팀
  - 김진영 / ICT 2팀
  - 김진인 / 솔루션사업본부
  - 김찬배 / R&D팀
  - 김태림 / 솔루션개발팀
  - 김태완 / 기술지원팀
  - 김태원 / Dell사업팀
  - 김태정 / 기술연구소
  - 김태희 / SW개발팀
  - 김하늘 / Developer팀
  - 김학선 / ICT사업팀
  - 김학수 / 이행Part
  - 김현길 / S/W개발팀
  - 김현성 / 사업지원파트
  - 김현수 / SW개발팀
  - 김현중 / IPR사업팀
  - 김형철 / 기술지원팀
  - 김형환 / 솔루션개발팀
  - 김혜원 / 기술지원팀
  - 김홍엽 / e-R&D파트
  - 김환용 / 대전지사
  - 남정한 / 영업팀
  - 노병우 / ICT사업본부
  - 류광수 / 솔루션개발팀
  - 류형우 / 사업이행팀
  - 마상미 / ICT사업팀
  - 문규원 / Cloud사업팀
  - 민경욱 / SW개발팀
  - 민영창 / ICT사업팀
  - 박근록 / R&D사업팀
  - 박기호 / ICS사업부
  - 박미영 / 중부사업팀
  - 박미혜 / 기술지원팀
  - 박민영 / SW개발팀
  - 박민혁 / 대전지사
  - 박상권 / IPR서비스팀
  - 박상안 / 대전지사
  - 박영준 / 사업이행팀
  - 박인수 / R&D팀
  - 박정현 / 기술지원팀
  - 박종경 / Developer팀
  - 박형남 / ITO사업부
  - 박형석 / 기술지원팀
  - 박혜영 / 기술지원팀
  - 박희철 / ICT사업팀
  - 방기훈 / ICT사업팀
  - 방인영 / 사업이행팀
  - 배설희 / SW개발팀
  - 배현찬 / S/W개발팀
  - 백경호 / 솔루션사업팀
  - 백승덕 / 중부지사
  - 백유라 / 기술연구소
  - 서다혜 / 기술연구소
  - 서영규 / 기술기획팀
  - 서용석 / 미래전략실
  - 서용희 / ICT사업팀
  - 성정은 / ICT사업팀
  - 소성현 / 기술지원팀
  - 소유섭 / 부사장
  - 손경준 / PMO그룹
  - 손한석 / 기술지원팀
  - 송명근 / 기술지원팀
  - 송병호 / 사업이행팀
  - 송원규 / 전략사업부
  - 송종대 / IPR사업팀
  - 신대원 / ICT사업팀
  - 신병철 / S/W개발팀
  - 신영준 / IR/IPO
  - 신용철 / 솔루션팀
  - 신정훈 / 중부사업팀
  - 신지수 / 기술기획팀
  - 신진우 / 중부사업팀
  - 심동명 / 중부사업팀
  - 안민찬 / SM(LG화학)
  - 안소현 / ICT사업팀
  - 양기훈 / AI/빅데이터팀
  - 양태웅 / 화학Part
  - 엄윤정 / 사업이행팀
  - 오경진 / 중부지사
  - 오주환 / ICT사업본부
  - 오지영 / 기술연구소
  - 왕정현 / 기술지원팀
  - 원성재 / S/W개발팀
  - 원정윤 / e-R&D파트
  - 유경동 / 글로벌마케팅팀
  - 유대곤 / AI 2팀
  - 유동엽 / 클라우드사업팀
  - 유병찬 / ICT사업팀
  - 유상권 / R&D사업111팀
  - 유선오 / 기술기획팀
  - 유영민 / 사업이행팀
  - 유재현 / ICT사업팀
  - 유정 / 기술개발Gr.
  - 윤다솔 / 경영지원팀
  - 윤석현 / 서비스사업팀
  - 윤인식 / ICT사업팀
  - 윤지훈 / 기술기획팀
  - 윤창근 / ICT사업팀
  - 윤철희 / Dell사업팀
  - 음경민 / 조직장
  - 이가희 / 기술지원팀
  - 이경재 / ETRI팀
  - 이경주 / S/W센터
  - 이관운 / S/W개발팀
  - 이나연 / 플랫폼사업팀
  - 이난경 / 전략파트너A
  - 이동하 / 신사업팀
  - 이두진 / IPR사업부
  - 이령빈 / 기술연구소
  - 이민경 / ICT 1팀
  - 이민곤 / 기술기획팀
  - 이석주 / ICT사업본부
  - 이성권 / 대전지사
  - 이성재 / R&D팀
  - 이성현 / R&D팀
  - 이세원 / 기술지원팀
  - 이송연 / 기술지원팀
  - 이승근 / R&D서비스팀
  - 이승민 / 기술지원팀
  - 이승철A / ICT사업팀
  - 이시운 / 경영관리본부
  - 이아영 / ICT사업팀
  - 이완우 / 기술지원팀
  - 이우창 / ICT사업팀
  - 이원하 / 기술연구소
  - 이유리 / R&D팀
  - 이은주 / 기술지원팀
  - 이은희 / ICT사업팀
  - 이재민 / 서비스팀
  - 이종수 / S/W개발팀
  - 이종원 / 기술지원팀
  - 이종현 / ICT사업부
  - 이주한 / 솔루션사업본부
  - 이주헌 / IPR사업팀
  - 이지현 / 기술지원팀
  - 이지형 / 사업이행팀
  - 이진근 / S/W개발팀
  - 이진오 / SO 사업부
  - 이창환 / S/W개발팀
  - 이천환 / 사업지원팀
  - 이태희 / SM(LG화학)
  - 이필호 / ETRI팀
  - 이현두 / R&D사업팀
  - 이현승 / 중부지사
  - 이현주 / R&D사업팀
  - 이형균 / ICT사업팀
  - 이혜연 / 전략사업팀
  - 인혜란 / R&D사업2팀
  - 임광희 / 중부사업팀
  - 임기훈 / IPR사업팀
  - 임덕환 / R&D사업팀
  - 임성진 / 서비스팀
  - 임승희 / e-R&D파트
  - 임지원 / SM(LG화학)
  - 임태호 / 기술지원팀
  - 장광선 / 기술지원팀
  - 장대수 / R&D팀
  - 장명훈 / S/W개발팀
  - 장성봉 / 중부사업팀
  - 장은혜 / 대전지사
  - 장헌수 / ICT사업팀
  - 전기석 / ICT영업팀
  - 전련화 / R&D팀
  - 전석민 / 중부지사
  - 전수정 / S/W개발팀
  - 전우정 / Tbridge
  - 전재용 / PM그룹
  - 전진우 / 서비스팀
  - 정경수 / R&D개발팀
  - 정문성 / R&D팀
  - 정민주 / 기술지원팀
  - 정병호 / PM그룹
  - 정상호 / 기술지원팀
  - 정세원 / S/W팀
  - 정우성 / 중부사업팀
  - 정유영 / SW개발팀
  - 정재웅 / S/W개발팀
  - 정재이 / 경영지원파트
  - 정진섭 / 서비스사업부
  - 정현정 / IPR사업팀
  - 정현철 / IPR BS 사업부
  - 정형구 / ICT사업팀
  - 정혜연 / 기술지원팀
  - 정희수 / 기술지원팀
  - 주광일 / 사업이행팀
  - 주진형 / R&D사업팀
  - 지평근 / ITS사업부
  - 진민균 / 솔루션개발팀
  - 차건호 / 신사업팀
  - 차원준 / 중부사업팀
  - 채갑병 / ICT사업본부
  - 최도열 / ICT 2팀
  - 최성민 / IPR사업팀
  - 최우근 / S/W응용팀
  - 최우석 / 기술연구소
  - 최준호 / 솔루션팀
  - 최진도 / 서비스팀
  - 최창진 / 기술지원팀
  - 최태영 / ETRI팀
  - 최효영 / S/W팀
  - 표성만 / 솔루션개발팀
  - 프란체스카 / 사업이행팀
  - 하현우 / S/W개발팀
  - 한만우 / 솔루션 Gr
  - 한민희 / 마케팅팀
  - 한송이 / 기술지원팀
  - 한승완 / SW개발팀
  - 한승재 / 사업지원파트
  - 한정윤 / ICT서비스팀
  - 함종완 / ICT서비스팀
  - 함지연 / ICT사업팀
  - 허상윤 / S/W개발팀
  - 허정민 / 기술기획팀
  - 허지훈 / IP사업팀
  - 현광섭 / 기술연구소
  - 황국하 / e-R&D파트
  - 황규섭 / R&D사업팀
  - 황선대 / R&D사업팀
  - 황정아 / ICT사업팀

In [6]:
# [5] CSV 저장
output_path = r'퇴사자명단_최종.csv'
result_df.to_csv(output_path, index=False, encoding='utf-8-sig')
print(f'CSV 저장 완료: {output_path}')

CSV 저장 완료: 퇴사자명단_최종.csv

In [8]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ------------------------ --------------- 10.2/16.5 MB 54.3 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 49.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install mariadb

Collecting mariadb
  Downloading mariadb-1.1.14-cp313-cp313-win_amd64.whl.metadata (3.2 kB)
Requirement already satisfied: packaging in c:\users\leejuhwan\miniconda3\lib\site-packages (from mariadb) (25.0)
Downloading mariadb-1.1.14-cp313-cp313-win_amd64.whl (202 kB)
Installing collected packages: mariadb
Successfully installed mariadb-1.1.14
Note: you may need to restart the kernel to use updated packages.

In [15]:
# [6] DB 연결 및 테이블 생성
import pymysql

# DB 연결 정보
DB_HOST = 'localhost'
DB_PORT = 3306
DB_USER = 'root'
DB_PASSWORD = '1234'
DB_NAME = 'any_approval'

# MariaDB 연결
conn = pymysql.connect(
    host=DB_HOST,
    port=DB_PORT,
    user=DB_USER,
    password=DB_PASSWORD,
    database=DB_NAME,
    charset='utf8mb4'
)
cursor = conn.cursor()
print("DB 연결 성공")

# out_employee 테이블 생성
drop_sql = "DROP TABLE IF EXISTS out_employee"
cursor.execute(drop_sql)

create_sql = """
CREATE TABLE out_employee (
    seq INT AUTO_INCREMENT PRIMARY KEY,
    사원명 VARCHAR(100),
    ID VARCHAR(100),
    부서 VARCHAR(200),
    사원번호 VARCHAR(50),
    직위 VARCHAR(100),
    부서코드 VARCHAR(50),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
"""
cursor.execute(create_sql)
conn.commit()
print("테이블 out_employee 생성 완료")

DB 연결 성공
테이블 out_employee 생성 완료

In [16]:
# [7] 데이터 INSERT
insert_sql = '''
INSERT INTO out_employee (사원명, ID, 부서, 사원번호, 직위, 부서코드)
VALUES (%s, %s, %s, %s, %s, %s)
'''

# DataFrame을 튜플 리스트로 변환
data_list = [tuple(row) for row in result_df.values]

cursor.executemany(insert_sql, data_list)
conn.commit()

print(f'데이터 INSERT 완료: {len(data_list)}건')

데이터 INSERT 완료: 331건

In [17]:
# [8] 확인 및 연결 종료
cursor.execute('SELECT COUNT(*) FROM out_employee')
count = cursor.fetchone()[0]
print(f'out_employee 테이블 총 데이터: {count}건')

cursor.close()
conn.close()
print('DB 연결 종료')

out_employee 테이블 총 데이터: 331건
DB 연결 종료